include  ../partials/head
body
  include ../partials/navbar.pug
  .main
    .container
      .row
        .col-sm-12.col-lg-8.offset-lg-2
          .span.markdown.blog.py-4 #{'{{.Content}}'}
            | !{' {{ range (.Paginator 10).Pages.ByPublishDate.Reverse }} '}
            article
              a.blog-header(href="{{.RelPermalink }}") #{' {{.Title}} '}
              include ../partials/blog-meta-data.pug
              .markdown.blog-body
                | !{' {{ .Summary | markdownify  }} '}
              span
                | !{' {{ if .Truncated }} '}
                div
                  a.btn.btn-primary.btn-sm(href="{{.RelPermalink }}") Read more
                | !{'{{end}}'}
            | !{'{{end}}'}
  script(type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b5efec24db95a45")
  include ../partials/footer.pug
