doctype html
html(lang='en')
  | !{'{{ partial "head" . }}'}
  body
    include ../partials/navbar.pug
    .main.container.py-5
      .row.mb-5
        .col-sm-12.col-md-8.offset-md-2.text-center
          h1 Join Us. From Anywhere.

          span.markdown #{'{{.Content}}'}

      .row.mb-4
        .col-sm-12.col-md-8.offset-md-2.text-left
          | !{'{{ range first 10 .Data.Pages }}'}
          a(href="{{.RelPermalink}}")
            .d-flex.flex-row.justify-content-start
              .d-flex.flex-column
                h2.mb-2.text-primary #{'{{ .Title }}'}
                h6.text-primary #{'{{ .Params.subtitle }}'}
              .ml-auto
                .badge.badge-success #{'{{ .Params.position_state }}'}
          | !{'{{end}}'}

    include ../partials/footer.pug
