.blog-meta-data
  img.blog-meta-data-avatar(src="/images/avatars/{{.Params.avatar}}")
  .blog-meta-data-author-container.mb-3.mb-md-0
    .blog-meta-data-author-name !{'{{ .Params.author }}'}
    .blog-meta-data-published-date !{'{{ .PublishDate.Format "January 2, 2006" }}'} · !{'{{ .ReadingTime }}'} min read
  .blog-meta-data-tags
    | !{'{{ if .Params.tags }}'}
    .badges.d-inline.ml-md-3.ml-sm-3.pl-0
      | !{'{{ range .Params.tags }}'}
      .badge.badge-default.mb-md-0.mb-2.mr-2 !{'{{ . }}'}
      | !{'{{ end }}'}
    | !{'{{ end }}'}
