include  ../partials/head
body
    include ../partials/navbar.pug
    .main.docs
        .container
            .row
                .col-sm-3
                    ul.sidebar-menu
                        | !{'{{ $currentPage := . }}'}
                        | !{'{{ range .Site.Menus.docs }}'}
                        | !{'{{ if .HasChildren }}'}
                        li.sidebar-menu-item
                            h3 #{'{{.Name}}'}
                            ul.sidebar-menu-sub
                                | !{'{{range .Children}}'}
                                | !{'{{ $has := $currentPage.IsMenuCurrent "docs" . }}'}
                                li.sidebar-menu-sub-item(class='{{if $has}}active{{end}}')
                                    a(href="{{.URL}}") #{'{{.Name}}'}
                                | !{'{{if $has}}'}
                                .side-bar-menu-toc
                                    span #{'{{ $currentPage.TableOfContents}}'}
                                | !{'{{end}}'}
                                | !{'{{end}}'}
                        | !{'{{else}}'}
                        li.sidebar-menu-item
                            h3 #{'{{.Name}}'}
                    | !{'{{end}}'}
                    | !{'{{end}}'}

                .col-sm-7
                    .markdown.py-3
                        h1 #{'{{ .Title }}'}
                        span #{'{{.Content}}'}
                    hr.my-4
                    p Last updated on #{'{{.Page.Lastmod.Format '} "January 2, 2006" #{' }}'}
    include ../partials/footer.pug
